.sixth-screen {
  position: relative;
  &-inner {
    padding: 2rem $paddingLeft;
    display: flex;
    justify-content: center;

  }

  &-wrapper {
    @include widthContainer;
  }

  &-subtitle {
    padding-top: 2rem;
    @media screen and (max-width: 1024px) {
      text-align: center;
    }
    li {
      align-self: center;
      font-size: 2.7rem;
      color: #04c29a;
      margin-bottom: 3rem;
      span {
        color: $dark;
      }
    }
  }
  &-tagline {
    font-family: UZSans;
    font-size: 10rem;
    font-weight: 350;
    line-height: 70.72px;
    margin-bottom: 3rem;
    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 400px) {
     justify-content: center;
    }

    &-box {
      display: flex;
      flex-direction: column;


      &-position {
        font-family: UZSans;
        font-size: 5rem;
        font-weight: 500;
        line-height: 8rem;
        margin-bottom: 20px;
        margin-right: 20px;
        @media screen and (max-width: 800px) {
          font-size: 8rem;
        }
      }

      &-point {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .page-list-img {
          width: 56px;
          height: 56px;
          margin-left: -2rem;
        }

        &-text {
          font-family: UZSans;
          font-size: 4rem;
          font-weight: 350;
          line-height: 8rem;
          @media screen and (max-width: 800px) {
            font-size: 6rem;
            text-align: center;
            margin-top: 15px;
          }
        }

      }
      &-btn {
        @include mainButton;
      }
    }

    &-box:last-child {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &-box:not(:first-child) {
      @media screen and (max-width: 400px) {
        display: none;

      }
    }


    &-arrows {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 195rem;
      padding: 4rem 0 2rem;
      border-width: 1px;
      width: 1640px;
      left: 3rem;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &-arrow {
      cursor: pointer;
    }
  }

  &-lowStat {
    font-family: UZSans;
    font-size: 4rem;
    font-weight: 350;
    line-height: 32px;
    margin-top: 30px;

    @media screen and (max-width: 400px) {
      text-align: center;
    }
  }

}